@import 'node_modules/bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  overflow: hidden;
}
/* Header start */
.Hero-section {
  height: 611px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #9cf0c3;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  margin-top: 150px;
  margin-left: 20px;
  border-radius: 55px;
  border-color: #11260f;
  background-color: #1f471a;
  font-size: 10px;
}
h1 {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 80px;
  color: #1f471a;
  line-height: 1;
}
p {
  margin-top: 20px;
  margin-left: 20px;
  color: #1f471a;
}
img {
  margin-top: 65px;
  margin-left: 80px;
  background-color: #49fca599;
}
/* Header end */